RUST_LOG="info,warpdrive=debug"
# For WarpDrive devs:
# RUST_LOG="info,layer-tests=debug,warpdrive=debug"

# WarpDrive
# WARPDRIVE_DATA=~/warpdrive/data
# WARPDRIVE_LOG_LEVEL="info, wavs[{subsys=TriggerManager}]=debug"
WARPDRIVE_SIGNING_MNEMONIC="test test test test test test test test test test test junk"
WARPDRIVE_AGGREGATOR_COSMOS_CREDENTIAL="test test test test test test test test test test test junk"
WARPDRIVE_AGGREGATOR_EVM_CREDENTIAL="test test test test test test test test test test test junk"

# CLI
# WARPDRIVE_CLI_DATA=~/warpdrive/cli
WARPDRIVE_CLI_COSMOS_MNEMONIC="test test test test test test test test test test test junk"
WARPDRIVE_CLI_EVM_CREDENTIAL="test test test test test test test test test test test junk"
WARPDRIVE_CLI_LOG_LEVEL="info, wavs_cli=debug"
